<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coachcraft">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- Solo si necesitas grabar audio -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- Para guardar el archivo -->


    <application>
        <!-- Add any debug-specific configurations here -->
    </application>

</manifest>
